.btn-primary {
  background-color: white;
  padding: 1.2rem 2.4rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  margin-right: 2rem;
  i {
    margin-right: 1rem;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba($white, 0.75);
  }
}
.btn-secondary {
  background-color: rgba(190, 190, 190, 0.5);
  padding: 1.2rem 2.4rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  color: inherit;
  i {
    margin-right: 1rem;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(190, 190, 190, 0.25);
  }
}

// .btn-container {
//   display: flex;
// }

.go-back-button {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  display: inline-block;
  i {
    margin-right: 1rem;
  }
  &:hover {
    cursor: pointer;
    color: rgba($white, 0.5);
  }
}
