.card {
  width: 100%;
  object-fit: contain;
  max-height: 10rem;
  transition: transform 0.5s;
  backface-visibility: hidden;
  margin-right: 0.5rem;
  border-radius: 5px;

  &:hover {
    transform: perspective(1px) scale(1.2);
    z-index: 1001;
    cursor: pointer;
  }
}

.card-vertical {
  max-height: 20rem;
}

.video-card {
  position: fixed;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  z-index: 1002;
  background-color: $black;
  @include verticalCenter;
  text-align: center;
  animation: scaleIn 0.5s;

  .video-center {
    @include setVerticalCenter;
  }
  i {
    font-size: 4rem;
    position: absolute;
    right: 5%;
    top: 5%;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    color: rgba($white, 0.5);
  }
}

.card-search {
  width: 12.5rem;
  max-height: 20rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  transition: transform 0.5s;
  backface-visibility: hidden;
  border-radius: 5px;

  &:hover {
    transform: perspective(1px) scale(1.2);
    z-index: 1001;
    cursor: pointer;
  }
}

@include respond(phone) {
  .video-card {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
