.card {
  width: 100%;
  object-fit: contain;
  max-height: 10rem;
  transition: transform 0.5s;
  backface-visibility: hidden;
  margin-right: 0.5rem;
  border-radius: 5px;

  &:hover {
    transform: perspective(1px) scale(1.2);
    z-index: 1001;
    cursor: pointer;
  }
}

.card-vertical {
  max-height: 20rem;
}
