.list {
  .heading-secondary {
    padding-left: 5rem;

    i {
      padding-left: 1rem;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s;
    }
    &:hover {
      i {
        visibility: visible;
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  &-container {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 2rem 5rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.list-lift-up {
  position: absolute;
  top: 87.5vh;
  transition: all 0.5s;
}

.list-lift-up-search {
  top: 10rem;
}

@include respond(phone) {
  .list {
    .heading-secondary {
      padding-left: 2rem;
    }
    &-container {
      padding: 2rem 2rem;
    }
  }
}
