.no-internet {
  position: absolute;
  min-height: 2rem;
  background-color: rgba($red, 0.5);
  z-index: 1004;
  text-align: center;
  @include absCenter;
  top: 10%;
  padding: 2rem;
  border-radius: 5px;
  white-space: nowrap;
  h3 {
    span {
      padding-left: 1rem;
      text-transform: uppercase;
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
