.heading-primary {
  font-size: 5rem;
  margin-bottom: 2rem;
}
.para-primary {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.para-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.heading-secondary {
  font-size: 2rem;
  font-weight: 600;
}
