.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-image: linear-gradient(
    $black,
    rgba(37, 37, 37, 0.61),
    transparent
  );

  a {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  .left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-item {
      display: flex;
    }
    .menu-tab {
      display: none;
    }
    p {
      font-size: 1.2rem;
      &:hover {
        color: rgba($white, 0.75);
      }
    }
    .netflix-logo {
      margin-right: 5rem;

      &:hover {
        cursor: pointer;
      }
    }

    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
  .right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    p {
      font-size: 1.2rem;
    }
    i {
      font-size: 1.5rem;
      &:hover {
        cursor: pointer;
      }
    }
    .input-search {
      margin-right: 2rem;
    }
    p,
    a {
      &:hover {
        cursor: pointer;
        color: rgba($white, 0.75);
      }
    }
  }
}

.netflix-menu-checkbox {
  display: none;
}
.netflix-menu-icon {
  display: none;
}

@include respond(tab-port) {
  .navbar {
    .left-side {
      &-item {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 17.5rem;
        top: 75%;
        visibility: hidden;
        opacity: 0;
        background-color: rgba($white, 0.25);
        border-radius: 5px;
        transition: all 0.5s;
        a {
          &:not(:last-child) {
            margin-right: 0;
          }
        }
        p {
          width: 12rem;
          padding: 0.75rem;
        }
      }

      .menu-tab {
        display: flex;
        font-size: 1.2rem;
        i {
          margin-left: 1rem;
        }
        &:hover {
          color: rgba($white, 0.5);
        }
        &:hover ~ .left-side-item {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@include respond(phone) {
  .netflix-menu-icon {
    display: block;
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 1000;
  }
  .netflix-menu-checkbox:checked ~ .navbar {
    visibility: visible;
    opacity: 1;
  }
  .navbar {
    position: fixed;
    height: 100vh;
    background-color: $black;
    overflow: hidden;
    display: block;
    text-align: center;
    padding: 5rem;
    @include verticalCenter;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    a {
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    .left-side {
      display: block;

      &-item {
        display: block;
        margin-bottom: 2rem;
      }
      p {
        font-size: 2rem;
        margin-bottom: 2.5rem;
      }

      .netflix-logo {
        margin-right: 0;
        margin-bottom: 5rem;
      }

      p {
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
    .right-side {
      display: block;
      margin-bottom: 25%;
      p {
        font-size: 2rem;
        margin-bottom: 2.5rem;
      }

      a {
        &:not(:last-child) {
          i {
            margin-right: 2rem;
          }
        }
      }
      i {
        font-size: 3rem;
      }
      .input-search,
      .fa-search {
        display: none;
      }
      p,
      i {
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }
}
